@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Nova+Square&family=Orbitron&family=Sirin+Stencil&display=swap");

:root {
  --main-font: "Orbitron", sans-serif;
  --title: "Sirin Stencil", sans-serif;
  --black: #000;
  --white: #fff;
  --dark-sabre-red: #ff1919;
  --yoda-sabre-green: #55ff33;
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

body {
  /* margin: auto;
  width: 50%; */
  text-align: center;
  font-family: var(--main-font);
}

.title {
  font-family: var(--title);
  font-size: var(--font-size-xxl);
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card {
  border: 2px solid var(--black);
  margin: 2rem 0;
  border-radius: 20px;
  box-shadow: 5px 10px 20px #000;
  max-width: 25rem;
  padding-bottom: 1rem;
  /* height: 550px; */
}

.card__heading {
  font-size: var(--font-size-lg);
}
.card__image {
  max-width: 85%;
  height: auto;
  border-radius: 20px;
}
.card--dark-side {
  background-color: var(--black);
  border: 2px solid var(--white);
  color: var(--white);
}

.card__image--dark-side {
  box-shadow: 5px 10px 20px var(--dark-sabre-red);
  border: 2px solid var(--white);
}

.card--dark-side:hover {
  box-shadow: 10px 10px 10px var(--dark-sabre-red);
}

.card--light-side {
  background-color: var(--white);
  border: 2px solid var(--black);
  color: var(--black);
}

.card__image--light-side {
  box-shadow: 5px 10px 20px var(--yoda-sabre-green);
  border: 2px solid var(--black);
}

.card--light-side:hover {
  box-shadow: 10px 10px 10px var(--yoda-sabre-green);
}

.card__btn {
  padding: 2px 5px 5px;
  border-radius: 10px;
  border: 2px solid var(--black);
}

.card__btn--dark-side {
  border: 2px solid var(--white);
  color: var(--white);
  background-color: var(--dark-sabre-red);
}

.card__btn--dark-side:hover {
  box-shadow: 5px 5px 5px var(--dark-sabre-red);
  transform: scaleY(1.2) scaleX(1.2);
}

.card__btn--light-side {
  border: 2px solid var(--black);
  color: var(--white);
  background-color: var(--yoda-sabre-green);
}

.card__btn--light-side:hover {
  box-shadow: 5px 5px 5px var(--yoda-sabre-green);
  transform: scaleY(1.2) scaleX(1.2);
}
